<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>©2023 Povio Inc. All rights reserved.</string>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.files.user-selected.read-write</key>
	<true/>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>We need access to save files in the directory you choose in order to generate localized files for you project.</string>
</dict>
</plist>
